<section class="content">
  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label" id="title">
                  <span class="bg-aqua">
                    本站是基于 Angular CLI 和 TypeScript 开发的组件式单页应用
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-green">
                    Angular
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-reply bg-purple"></i>

          <div class="timeline-item">
            <h3 class="timeline-header no-border">高重用性组件</h3>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-dashboard bg-yellow"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">嵌套路由</h3>

          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-level-down bg-red"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">依赖注入</h3>

          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-random bg-fuchsia"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">数据绑定与管道过滤</h3>

          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-comments bg-teal"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">组件通讯</h3>

          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-check-square bg-navy"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">表单处理</h3>

          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-cloud bg-maroon"></i>

          <div class="timeline-item">

            <h3 class="timeline-header no-border">服务器通讯</h3>

          </div>
        </li>
        <!-- END timeline item -->

        <li>
          <i class="fa fa-check bg-gray"></i>
        </li>
      </ul>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
